{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Información del Personal</h2>
    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ persona.nombre }}" required>
        </div>

        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" value="{{ persona.apellido }}" required>
        </div>

        <div class="mb-3">
            <label for="cedula" class="form-label">Cédula:</label>
            <input type="text" class="form-control" id="cedula" name="cedula" value="{{ persona.cedula }}" required>
        </div>

        <div class="mb-3">
            <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento:</label>
            <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ persona.fecha_nacimiento|date:'Y-m-d' }}" required>
        </div>

      

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'personal' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
